/**
 * Unic theme for reveal.js.
 *
 */
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
.reveal a {
  line-height: 1.3em; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background-color: white;
  background-color: #f7fbfc; }

.reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #333; }

::selection {
  color: #fff;
  background: #134674;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #333;
  font-family: "Georgia", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0em;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.77em; }

.reveal h2 {
  font-size: 2.11em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #a4c326;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #cbe26d;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #6e831a; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #a4c326;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #a4c326; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #a4c326; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #a4c326; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #a4c326; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #cbe26d; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #cbe26d; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #cbe26d; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #cbe26d; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #a4c326;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal {
  font-size: 30px;
  background-color: white; }
  .reveal .slide-background:not(.no-logo):after {
    content: "";
    display: block;
    width: 2em;
    height: 2em;
    right: 1em;
    background: url("../../../lib/images/unic/unic-logo.png") 0 0 no-repeat #a4c326;
    background-size: 100%;
    position: absolute;
    z-index: 3; }
  .reveal .controls {
    /*
		button {
			border: 0;
		}
		.navigate-left,
		.navigate-right {
			width: 40px;
			height: 12px;
		}
		.navigate-up,
		.navigate-down {
			width: 12px;
			height: 40px;
		}
		.navigate-left {
			background: url('/lib/images/unic/arrow-left.png') 0 0 no-repeat transparent;
			background-size: 100%;
			top: 50px;
		}
		.navigate-right {
			background: url('/lib/images/unic/arrow-right.png') 0 0 no-repeat transparent;
			background-size: 100%;
		}
		.navigate-up {
			background: url('/lib/images/unic/arrow-up.png') 0 0 no-repeat transparent;
			background-size: 100%;
			left: 50px;
		}
		.navigate-down {
			background: url('/lib/images/unic/arrow-down.png') 0 0 no-repeat transparent;
			background-size: 100%;
			left: 50px;
		}
		*/ }
  .reveal .progres {
    background: rgba(90, 90, 90, 0.3); }
  .reveal .try-it {
    font-size: 0.7em; }
  .reveal .text-light h3,
  .reveal .text-light p,
  .reveal .text-light ul li {
    color: white;
    text-shadow: -0.02em -0.02em 0.02em rgba(0, 0, 0, 0.9), 0.02em -0.02em 0.02em rgba(0, 0, 0, 0.9), -0.02em 0.02em 0.02em rgba(0, 0, 0, 0.9), 0.02em 0.02em 0.02em rgba(0, 0, 0, 0.9); }
  .reveal .text-light a {
    color: #a4c326;
    text-shadow: -0.02em -0.02em 0.02em rgba(0, 0, 0, 0.7), 0.02em -0.02em 0.02em rgba(0, 0, 0, 0.7), -0.02em 0.02em 0.02em rgba(0, 0, 0, 0.7), 0.02em 0.02em 0.02em rgba(0, 0, 0, 0.7); }
  .reveal p i,
  .reveal li i {
    color: #983E50; }
  .reveal a i {
    color: #a4c326; }
  .reveal .img-source {
    display: block;
    font-size: 0.8em;
    margin-top: 60%; }
  .reveal iframe {
    border: 1px solid #333; }
  .reveal .result {
    display: inline-block; }
  .reveal .xml .javascript,
  .reveal .javascript .xml {
    opacity: 0.9; }
  .reveal h4,
  .reveal h5 {
    text-transform: none; }
  .reveal h5 {
    font-size: 0.8em; }
  .reveal .no-border {
    border: 0;
    box-shadow: none; }
